@import "../../../variables";

.game-container {
  display: grid;
  height: calc(100% - 60px);
  grid-template-rows: 8fr 2fr;
  .clicker-container {
    display: flex;
    justify-content: center;
    align-items: center;
    .container-relative {
      position: relative;
      .game-img {
        max-width: 50px;
        position: absolute;
        top: -70px;
        left: 100px;
      }
      .clicker-btn {
        font-family: "Kanit", sans-serif;
        font-weight: bold;
        border-radius: 50%;
        width: 250px;
        height: 250px;
        border: 5px solid $gray-3;
        background-color: transparent;
        color: $white;
        font-size: 10vw;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        &:hover {
          border: 5px solid $white;
          background-color: transparent;
        }
      }
    }
  }

  .items-container {
    display: flex;
    justify-content: center;
    align-items: start;
    .item {
      display: grid;
      grid-template-columns: repeat(2, 2fr);
      padding: 0 20px;
      .item-btn {
        border: none;
        text-align: center;
        border-radius: 64px;
        padding: 10px 20px;
        span {
          margin-top: 0;
          font-family: "Kanit", sans-serif;
        }
      }
      .item-btn-active {
        background-color: $blue-2;
        text-align: center;
        border-radius: 64px;
        padding: 10px 20px;
        color: $black;
        &:hover {
          background-color: $blue-1;
        }
        span {
          color: $white;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .clicker-btn,
  .item-btn-active {
    cursor: pointer;
  }
}
