// COLORS
$gray-1:#E0E0E0;
$gray-2:#C6C6C6;
$gray-3:#A8A8A8;
$gray-4:#8D8D8D;
$gray-5:#6F6F6F;
$gray-6:#525252;

$black: #2d3436;
$white:#FFFFFF;

$blue: #0984e3;
$blue-1: #3d606a;
$blue-2: #2f6c7e;

$green: #00b894;
$green-1: #81ecec;

$red: #d63031;
$purple: #a29bfe;

$text-color: $gray-5;
$input-color: $gray-5;

// FONTS
$text-medium: 500;
$text-regular: 400;
$font-style: normal;
$font-primary: 'Raleway';
$font-secondary: 'Roboto';

$margin: 12px;
$padding: 12px;
