/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import 'helpers';

* {
  font-family: $font-primary;
}

body, html { padding: 0; margin: 0; height: 100%; }

body {
  background-color: $black;
}

.container {
  padding: $padding;
  margin: $margin;
}

.grid-center {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.responsive-img {
  width: 80%;
}
